@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-lh {
  background-color: rgba(1, 45, 38, 0.7);
}

.right-10d {
  right: 10%;
}

.w-3\/6 {
  width: 50% !important;
}

.w-3\/4 {
  width: 75% !important;
}

.hover\:w-full:hover {
  width: 100% !important;
}

.hover\:z-50:hover {
  z-index: 50 !important;
}

.wd-full {
  width: 100% !important;
  z-index: 50;
}
