@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .brightness-60 {
    filter: brightness(40%)
  }

  .brightness-80 {
    filter: brightness(60%)
  }

  .w-36 {
    width: 9rem;
  }

  .wd-48 {
    width: 210px;
  }

  .w-100 {
    width: 59rem;
  }

  .p-0-2 {
    padding: 2px;
    box-sizing: border-box;
    background:  #fff;
  }

  .t-r-2 {
    top: 50%;
    right: 20px;
    transform: translateY(-50%)
  }
}
